<html>
    <head>
        <title> EvE Fitting Bot - Registration complete </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1> EvE Fitting Bot </h1>
        <section>
            <p>
                Registration complete. <br>
                EvE Fitting Bot can now access your fittings, thank you. <br>
                You can close this page.
            </p>
        </section>
    </body>
</html>